html{
    height: 100%;
}
body {
	background-size: auto, auto, cover;
    background-color: #282B2F; 
    height: 100%;
}
body>div {
	max-width: 978px;
	margin:0 auto;
	background-color: #FFF;
	padding: 0.7em;
}
#wrapper{
    max-height: 220%;
    display: flex;
    flex-direction: column;
}
#attr {
    position: fixed;
    left: 1%;
    width: 188px;
    height: 100%;
    background-color: #FFF;
	opacity: 0.7;
}
	#attr p{
		margin: 20px 5px;
	}
		#attr p textarea{
			width: 100%;
		}
#map{
    margin-bottom: 38%;
    height: 374px;
}
#map svg {
	width: 97.8%;
	box-sizing: border-box;
	border: 1px solid #013d7c;
	margin: 10px;
}
#graph{
    height: 100%;
    margin:3% 0 15%;
}
#graph svg {
	width: 97%!important;
    height: 100%!important;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 2em 0em 0em 0em ;
}
    nav li {
        width: 18%;
        background-color: white;
        margin: 0 0.5em;
    
    }
nav a {
	text-decoration: none;
	color: #FFF;
	font-size: 1.1em;
	display: block;
	padding: 1em 1em 1em 25%;
	border-radius: 16px;
	background-color: #013d7c;
	font:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
	nav a:hover {
		background-color: #013d7c;
		transform: scale(1.1,1.2);
	}
header {
	display: flex;
}
header h1 {
	margin: auto;
}
header div {
	width: 20%;
}

footer {
	margin-top: 3%;

	text-align: right;
	border-top: 1px solid black;
	padding-right: 1em;
}
#a3 nav {
	margin-bottom: 20px;
}
body { 
	font: 12px Arial;
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
#options {
	display:flex;
	flex-direction: row;
	justify-content: safe;
	align-items: stretch;
	font: 400 13.3333px Arial;
}
	#options #name{
		width: 99%;
	}
	#options ul li{
		list-style-type: none;
	}
	#options ul li button {
		width: 175px;
	}